In [1]:
# first thing we need to do is import our dependencies
# in this case it is pandas a dataframe tool 
# https://pandas.pydata.org/
import pandas as pd

In [7]:
# we load our CSV into a python dataframe 
# There is a lot of rows so we need to remove memory constraints
# if this was a production level notebook you would probably do analysis by chunks through whats 
# called a file stream, load some rows, do analysis/cleaning, load the next set
gc_spending_by_year = pd.read_csv(
    "./data/GC_Spending_by_year.csv",
    index_col = 0,
    low_memory=False
)

/Users/omarnasr/Work/BuildVsBuyAnalysis/venv/lib/python3.7/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [9]:
# gives you some overall statistics of your dataset 
gc_spending_by_year.describe()

,effective_year,yearly_value,source_year,source_quarter,source_origin,is_amendment,amendment_group_id,object_code
count,1.249952e+06,1.249952e+06,1.249952e+06,1.249952e+06,1.249952e+06,1.249952e+06,1.754010e+05,511969.000000
mean,2.015990e+03,1.594099e+05,2.011878e+03,2.635115e+00,1.355528e+00,1.041248e-01,5.403239e+05,736.774393
std,3.922236e+01,4.338973e+06,4.058758e+00,1.108492e+00,4.786732e-01,3.054225e-01,3.124625e+05,576.907793
min,1.899000e+03,-2.251386e+09,1.999000e+03,1.000000e+00,1.000000e+00,0.000000e+00,3.000000e+00,0.000000
25%,2.010000e+03,1.039850e+04,2.009000e+03,2.000000e+00,1.000000e+00,0.000000e+00,3.178160e+05,473.000000
50%,2.013000e+03,1.862595e+04,2.012000e+03,3.000000e+00,1.000000e+00,0.000000e+00,5.362080e+05,533.000000
75%,2.016000e+03,4.586922e+04,2.015000e+03,4.000000e+00,2.000000e+00,0.000000e+00,7.150790e+05,859.000000
max,2.994000e+03,1.157156e+09,2.019000e+03,8.000000e+00,2.000000e+00,1.000000e+00,1.230421e+06,9990.000000

In [25]:
# we have over a million rows ! 
gc_spending_by_year.shape[0]

1249952

In [30]:
# so we want to make all lower case so it's cleaner to filter on
gc_spending_by_year["description"] = gc_spending_by_year["description"].str.lower()
gc_spending_by_year["extra_description"] = gc_spending_by_year["extra_description"].str.lower()

In [31]:
# here is our first 5 rows 
gc_spending_by_year.head()

,owner_acronym,vendor_clean,vendor_normalized,effective_year,yearly_value,source_fiscal,source_year,source_quarter,source_origin,is_amendment,amendment_group_id,reference_number,object_code,description,extra_description,comments,combined_description
id,,,,,,,,,,,,,,,,,
1247,acoa,2RISM STRATEGIES,2RISM STRATEGIES,2007,39379.00,200708-Q3,2007,3,1,0,NaN,CP11459,499.0,0499 other professional services not elsewhere...,NaN,NaN,0499 other professional services not elsewhere...
1268,acoa,2RISM STRATEGIES,2RISM STRATEGIES,2007,39379.00,200708-Q3,2007,3,1,0,NaN,CP11459,499.0,0499 other professional services not elsewhere...,NaN,NaN,0499 other professional services not elsewhere...
1269,acoa,2RISM STRATEGIES,2RISM STRATEGIES,2008,39379.00,200708-Q3,2007,3,1,0,NaN,CP11459,499.0,0499 other professional services not elsewhere...,NaN,NaN,0499 other professional services not elsewhere...
1248,acoa,2RISM STRATEGIES,2RISM STRATEGIES,2008,39379.00,200708-Q3,2007,3,1,0,NaN,CP11459,499.0,0499 other professional services not elsewhere...,NaN,NaN,0499 other professional services not elsewhere...
2858,acoa,3261620 CANADA,3261620 CANADA,2016,29432.26,201617-Q1,2016,1,1,0,NaN,P1700131,447.0,0447 tuition fees and costs of attending cours...,NaN,"AMENDMENT Original Contract Value: $12,208.24",0447 tuition fees and costs of attending cours...

In [32]:
# we are combining the two description rows into one column to make it simpler to filter 
gc_spending_by_year["combined_description"] = gc_spending_by_year[
    "description"
].fillna('') + " "  + gc_spending_by_year[
    "extra_description"
].fillna('')

In [33]:
gc_spending_by_year.head()

,owner_acronym,vendor_clean,vendor_normalized,effective_year,yearly_value,source_fiscal,source_year,source_quarter,source_origin,is_amendment,amendment_group_id,reference_number,object_code,description,extra_description,comments,combined_description
id,,,,,,,,,,,,,,,,,
1247,acoa,2RISM STRATEGIES,2RISM STRATEGIES,2007,39379.00,200708-Q3,2007,3,1,0,NaN,CP11459,499.0,0499 other professional services not elsewhere...,NaN,NaN,0499 other professional services not elsewhere...
1268,acoa,2RISM STRATEGIES,2RISM STRATEGIES,2007,39379.00,200708-Q3,2007,3,1,0,NaN,CP11459,499.0,0499 other professional services not elsewhere...,NaN,NaN,0499 other professional services not elsewhere...
1269,acoa,2RISM STRATEGIES,2RISM STRATEGIES,2008,39379.00,200708-Q3,2007,3,1,0,NaN,CP11459,499.0,0499 other professional services not elsewhere...,NaN,NaN,0499 other professional services not elsewhere...
1248,acoa,2RISM STRATEGIES,2RISM STRATEGIES,2008,39379.00,200708-Q3,2007,3,1,0,NaN,CP11459,499.0,0499 other professional services not elsewhere...,NaN,NaN,0499 other professional services not elsewhere...
2858,acoa,3261620 CANADA,3261620 CANADA,2016,29432.26,201617-Q1,2016,1,1,0,NaN,P1700131,447.0,0447 tuition fees and costs of attending cours...,NaN,"AMENDMENT Original Contract Value: $12,208.24",0447 tuition fees and costs of attending cours...

In [34]:
# filtering on combined_description column, & and ~ are bitwise operators, you can thing of them as (and) and (not)
gc_spending_by_year_software_projects = gc_spending_by_year[
    gc_spending_by_year["combined_description"].str.contains("software") &
    ~ gc_spending_by_year["combined_description"].str.contains("maintenance")
]

In [35]:
# our rows now, much reduced !
gc_spending_by_year_software_projects.shape[0]

40753

In [37]:
# saving our reduced and filtered dataset 
gc_spending_by_year_software_projects.to_csv(
    "./data/GC_Spending_by_year_software.csv",
    encoding="utf-8"
)